@import "src/styles/imports.scss";

.input {
  width: 100%;
  direction: rtl;

  border-color: $grey;

  @include input();

  &::placeholder {
    @include placeholder();
  }
  &.disabled {
    @include input-disabled();
  }
  @include focus-border();
}
