@import "./settings.scss";
@import "./functions.scss";
@mixin cmsButton($color) {
  transition: all 500ms ease-in-out;
  border: 1px solid $color;
  color: black;
  border-radius: 5px;
  background-color: transparent;
  &:hover {
    background-color: $color;
    border: none;
    color: white;
  }
}

@mixin cmsButtonRed {
  @include cmsButton($cmsRed);
}

@mixin cmsButtonBlue {
  @include cmsButton($cmsBlue);
}

@mixin cmsButtonGreen {
  @include cmsButton($cmsGreen);
}

@mixin hideScrollbar() {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin recolor($color: #000, $opacity: 1) {
  $r: red($color) / 255;
  $g: green($color) / 255;
  $b: blue($color) / 255;
  $a: $opacity;

  // grayscale fallback if SVG from data URL is not supported
  $lightness: lightness($color);
  filter: saturate(0%) brightness(0%) invert($lightness) opacity($opacity);

  // color filter
  $svg-filter-id: "recolor";
  filter: url('data:image/svg+xml;utf8,\
    <svg xmlns="http://www.w3.org/2000/svg">\
      <filter id="#{$svg-filter-id}" color-interpolation-filters="sRGB">\
        <feColorMatrix type="matrix" values="\
          0 0 0 0 #{$r}\
          0 0 0 0 #{$g}\
          0 0 0 0 #{$b}\
          0 0 0 #{$a} 0\
        "/>\
      </filter>\
    </svg>\
    ##{$svg-filter-id}');
}

@mixin placeholder() {
  color: $grey;
  font-family: $font;
  font-size: rem(16);

  @media (min-width: em($desktop)) {
    font-size: rem(20);
  }
}

@mixin input() {
  color: black;
  font-family: $font;
  font-size: rem(16);
  background-color: transparent;

  @media (min-width: em($desktop)) {
    font-size: rem(20);
  }
}

@mixin focus-border() {
  &:focus,
  &:focus-visible {
    border-color: $input-focus-color;
  }
}
@mixin input-disabled() {
  opacity: 0.4;
  pointer-events: none;
}

@mixin font-face($font-family, $font-style, $font-path) {
  @font-face {
    font-family: $font-family;
    src: url("#{$font-path}.ttf") format("truetype");
    font-style: $font-style;
    font-display: swap;
  }
}

@mixin focus-item() {
  border: 1px solid transparent;

  &:focus,
  &:focus-visible {
    border-color: black;
  }
}
