@import "src/styles/imports";
.slide-popup {
  align-items: flex-end;
  backdrop-filter: blur(4px);

  .popup_wrapper {
    padding-block: rem(20);
    max-height: 80vh;

    border-top-right-radius: rem(25);
    border-top-left-radius: rem(25);
    width: 100%;
    top: 100%;
    background-color: white;
    transition: top 350ms cubic-bezier(0.165, 0.84, 0.44, 1); /* easeInOutExpo */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .close-icon-wrapper {
      position: absolute;

      top: rem(10);
      left: rem(10);
      width: rem(18);
      height: rem(18);
    }

    .gesture-handler {
      width: 100%;
      margin-bottom: rem(10);
      align-self: center;
      position: absolute;

      top: rem(-15);

      width: rem(30);
      height: rem(5);
      border-radius: rem(10);

      background-color: $dark-grey;
    }

    &.active,
    &.done {
      top: 0;
    }
    &.exit {
      top: 100%;
    }
    .popup_content {
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
  }
}

@media (min-width: em($tablet)) {
  .slide-popup {
    align-items: center;
    justify-content: center;

    .popup_wrapper {
      max-width: rem(650);
      max-height: rem(650);
      border-radius: rem(10);

      .gesture-handler {
        display: none;
      }
    }
  }
}
