@import "src/styles/imports";
$image-size: 250;
.image {
  overflow: hidden;
  width: rem($image-size);
  height: rem($image-size);
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}
